.page-vulnerabilities-rhsa(ng-if='!loading')
  section.header
    page-header(title="{{:: package_name}}")
    .description
      p TODO: Insert Package description in vmaas.js mock data

  table-filters
    search-box(placeholder="{{'Search RHSAs' | translate}}", on-search='search(model)')
    rhsa-severity-select

  section.content
    table
      thead
        tr
          th.fit-content.nowrap.sortable(translate) RHSA ID
          th.fit-content.min.nowrap.sortable(translate) Severity
          th.fit-content.min.nowrap.sortable.text-center(translate) CVEs
          th.fit-content.min.nowrap.sortable.text-center(translate) Systems Affected
          th.fit-content.min.nowrap.sortable(translate) Issued
          th.fit-content.min.nowrap.sortable.text-center(translate) Rule Hit
      tbody
        tr(ng-repeat="rhsa in rhsas")
          td.fit-content.nowrap(translate) 
            a {{:: rhsa.id}}
          td.fit-content.nowrap(translate)
            .icon-inline
              i.fa.fa-shield(ng-class="{{'rhsa.severity'}}")
              span {{:: rhsa.severity}}
          td.fit-content.nowrap.text-center(translate) {{rhsa.cves.length}}
          td.fit-content.nowrap.text-center(translate) {{rhsa.systems_affected}}
          td.fit-content.nowrap(translate) {{:: rhsa.issued}}
          td.fit-content.nowrap.text-center
            i.fa.fa-stethoscope(ng-class="{hasRuleHit: rhsa.rule_hits > 0}")

