.page-vulnerabilities
  section
    page-header(title="Vulnerabilities", icon="fa-stethoscope")

  table-filters
    search-box(placeholder="{{'Search Packages' | translate}}", on-search='search(model)')

  // TODO make embedded card a component
  .content-wrap
        table
          thead
            tr
              th.fit-content.nowrap.sortable(ng-class="sorter.predicate | sortClass:'toString':sorter.reverse",
                ng-click="sort('toString')", translate) Package Name
              th.text-center.fit-content.min.nowrap.sortable(translate) RHSAs
              th.text-center.fit-content.min.nowrap.sortable(translate) System Affected
              th.text-center.fit-content.min.nowrap.sortable(translate) Release Date
          tbody
            tr(ng-repeat='vulnerability in vulnerabilities track by vulnerability.id')
              td.fit-content.nowrap
                a(ui-sref='app.vulnerabilities-rhsas({package_id: vulnerability.id, package: vulnerability})') {{:: vulnerability.name}}
              td.text-center.fit-content.nowrap
                span {{vulnerability.rhsas.length}}
              td.text-center.fit-content.nowrap
                span {{vulnerability.systems.length}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.release_date}}