.vulnerabilities-modal
  .content-wrap
    table-filters
      search-box(placeholder="{{'Search RHSA or CVE' | translate}}", on-search='search(model)')
    expand-all-button.toggle-expand-right
    card.card-vulnerabilities(expandable='true', ng-repeat='rhsa in system.rhsas')

      card-header-expandable
        .package-info
          h3.title {{:: rhsa.id}}
          date.date Release Date: {{:: rhsa.issued}}
          span.version Last updated: {{:: rhsa.updated}}

      card-content(collapse="card.collapsed")
        h2.section-title.section-title-red Description
        p {{:: rhsa.description}}
        table
          thead
            tr
              th Packages Installed
              th Your version
              th Fixed Version
              th Latest Version
          tbody
            tr(ng-repeat="package in rhsa.packages")
              td {{:: package.name}}
              td {{:: package.system_version}}
              td {{:: package.fixed_version}}
              td {{:: package.latest_version}}
        table
          thead
            tr
              th CVEs
              th Score
              th Public Date
              th Impact
              th View In Portal
          tbody
            tr(ng-repeat="cve in rhsa.cves")
              td {{:: cve.id}}
              td {{:: cve.score}}
              td {{:: cve.public_date}}
              td {{:: cve.impact}}
              td
                a(href="{{cve.link}}", target="_blank") {{:: cve.link}}
