.vulnerabilities-modal(ng-if="!loading")
  p.text-center(ng-if='!hasVulnerabilities()')
    span.icon.icon-inline.success
      i.fa.fa-check-circle
      span(translate) No Vulnerabilities
  .content-wrap(ng-if='hasVulnerabilities()')
    expand-all-button.toggle-expand-right
    card.card-vulnerabilities(expandable='true', ng-repeat="rhsa in system.rhsas", init-collapsed="!defaultExpanded(rhsa)")

      card-header-expandable
        .package-info
          h3.title {{:: rhsa.id}}
          date.date Release Date: {{:: rhsa.issued}}
          span.version Last updated: {{:: rhsa.updated}}

      card-content(collapse="card.collapsed")
        h2.section-title.section-title-red Description
        p {{:: rhsa.description}}

        h2.section-title.section-title-red Package Information
        table
          thead
            tr
              th.sortable Packages Installed
              th.min.fit-content Your Version
              th.min.fit-content Fixed Version
              th.min.fit-content Latest Version
          tbody
            tr(ng-repeat="package in rhsa.packages")
              td.fit-content {{:: package.id}}
              td.fit-content.text-center {{:: package.system_version}}
              td.fit-content.text-center {{:: package.fixed_version}}
              td.fit-content.text-center {{:: package.latest_version}}

        h2.section-title.section-title-red CVE Information
        table
          thead
            tr
              th.sortable CVEs
              th.sortable.min.fit-content.text-center Score
              th.sortable.min.fit-content Public Date
              th.sortable.min.fit-content Impact
              th.min.fit-content View In Portal
          tbody
            tr(ng-repeat="cve in rhsa.cves")
              td {{:: cve.id}}
              td {{:: cve.score}}
              td {{:: cve.public_date}}
              td.icon-inline.impact-cve(ng-class="{{'cve.impact'}}")
                i.fa.fa-shield
                span {{:: cve.impact}}
              td.fit-content
                a(href="{{cve.link}}", target="_blank") {{:: cve.link}}
