.vulnerabilities-modal
  .content-wrap
    table-filters
      search-box(placeholder="{{'Search RHSA or CVE' | translate}}", on-search='search(model)')
    expand-all-button.toggle-expand-right
    card.card-vulnerabilities(expandable='true', ng-repeat='rhsa in system.rhsas')

      card-header-expandable
        .package-info
          h3.title {{:: rhsa.id}}
          date.date Release Date: {{:: rhsa.issued}}
          span.version Updated Date: {{:: rhsa.updated_date}}

      card-content(collapse="card.collapsed")
        

