.page-vulnerabilities-cve(ng-if='!loading')
  breadcrumbs
  section.vulnerability-details-header
    page-header(title="{{:: cve.id}}", subtitle="pageHeaderSubtitle", link="{{:: cve.link}}")
    aside.page-header-aside.icon-inline.severity(ng-class="{{'cve.impact'}}")
      i.fa.fa-shield
      span {{:: cve.impact}}
    .description
      h2.section-title.section-title-red Description
      span {{:: cve.description}}

  .vulnerability-tables
    .primary
      .table-header
        .table-header-title
          h3.system-count(translate, translate-n='totalSystems', translate-plural='{{:: $count}} Impacted Systems') 1 Impacted System
          small.light(ng-if='checkboxes.totalChecked', translate) &nbsp; {{checkboxes.totalChecked}} Selected
            span(ng-if='allSelected && pager.perPage < totalSystems') .
              a(ng-if='!reallyAllSelected', ng-click='reallySelectAll()') &nbsp;Select All Systems.
              a(ng-if='reallyAllSelected', ng-click='deselectAll()') &nbsp;Deselect All Systems.
            span )
      table
        thead
          tr
            th.min.sortable(translate) Type
            th.sortable(translate) Name
            th.min.sortable(translate) Last Check In

        tbody
          tr(ng-class="{'stale': !system.isCheckingIn}",
             ng-repeat='system in cve.systems track by system.system_id')
            td.fit-content
              type-icon(type-id='system.system_type_id', include-text='true')
            td.break
              a(ng-click='showSystem(system, true, tabs.vulnerabilities)') {{:: system.toString }}
            td.fit-content {{:: system.last_check_in | timeAgo}}
    table.related-packages
        thead
          tr
            th.fit-content.nowrap.sortable Related Packages
        tbody
          tr(ng-repeat='package in cve.packages')
            td.fit-content.nowrap
              a(ui-sref='app.vulnerabilities-package({package_id: package.id})') {{:: package.id}}